/* src/styles/index.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
img {
  width: 100%;
  height: 100%;
}
input,
button {
  outline: none;
  border: none;
}
.nav,
.nav-links,
.left-nav,
.right-nav,
.profile,
.nav-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}
.profile {
  gap: 0.5rem;
}
.nav-links,
.right-nav {
  display: none;
}
.nav-links > *:hover,
.mobile-nav-links > *:hover {
  color: #cf3434;
}
.search-container {
  position: relative;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #ff4c4c;
}
.menu-icon > *,
.nav-icons > * {
  font-size: 1.125rem;
}
.mobile-search-wrapper {
  width: 100%;
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4c4c;
  color: #fff;
}
.mobile-search-container {
  position: relative;
  width: 100%;
}
.mobile-search {
  width: 100%;
  padding: 1rem 1rem 1rem 3rem;
  font-family: inherit;
  font-size: 0.875rem;
  background-color: transparent;
  color: inherit;
}
.mobile-search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  font-size: 1.125rem;
  color: inherit;
}
::-moz-placeholder {
  color: inherit;
}
::placeholder {
  color: inherit;
}
.mobile-nav {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff4c4c;
  transition: all 300ms ease-in;
}
.mobile-nav-open {
  height: auto;
}
.mobile-nav-links > * {
  padding: 0.75rem;
  text-align: center;
  font-size: 1.125rem;
}
.mobile-nav-links:last-of-type {
  padding-bottom: 0.75rem;
}
.mobile-nav-links-close,
.mobile-search-close {
  display: none;
}
@media screen and (min-width: 880px) {
  .menu-icon,
  .nav-icons,
  .mobile-nav,
  .mobie-nav > .mobile-nav-links > *,
  .mobile-search-wrapper {
    display: none;
  }
  .nav-links,
  .right-nav {
    display: flex;
  }
  .search {
    min-width: 14rem;
    padding: 0.625rem 1rem 0.625rem 2.5rem;
    border-radius: 100vmax;
    font-family: inherit;
    transition: min-width 100ms linear;
  }
  .search:focus {
    min-width: 16rem;
  }
  ::-moz-placeholder {
    color: #ff4c4c;
  }
  ::placeholder {
    color: #ff4c4c;
  }
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.card,
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.card {
  border-radius: 0.5rem;
  overflow: hidden;
  border-left: 0.25rem solid #ff4c4c;
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 0.5rem;
}
.card-image {
  height: 18rem;
  position: relative;
  overflow: hidden;
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-icons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #ff4c4c;
  z-index: 2;
}
.card-icons > * {
  font-size: 1.5rem;
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-shape-divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}
.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(202% + 1.3px);
  height: 371px;
  transform: rotateY(180deg);
}
.custom-shape-divider-top .shape-fill {
  fill: #e37b7b;
}
.login-container {
  width: 60rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}
.left-login,
.right-login {
  width: 100%;
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-login {
  color: #fff;
  background-color: #ff4c4c;
  text-align: center;
}
.login-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ff4c4c;
  margin: 1rem 0 0.5rem;
}
.login-icon > * {
  font-size: 1.25rem;
  color: #fff;
}
.form,
.right-login > * {
  width: 60%;
}
.form-group {
  display: grid;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.form-group:last-of-type {
  margin-bottom: 0.5rem;
}
.login-input {
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  border: 2px solid #c4c4c4;
  border-radius: 0.25rem;
}
.login-input:focus {
  border: 2px solid #ff4c4c;
}
.login-btn,
.sign-up-btn,
.register-btn {
  width: 100%;
  padding: 0.875rem 1rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background-color: #ff4c4c;
  color: #fff;
  cursor: pointer;
}
.login-btn:hover,
.login-btn:focus,
.register-btn:hover,
.register-btn:focus {
  background-color: #e73131;
}
.sign-up-btn {
  margin-top: 0.5rem;
  padding: 0.75rem 1rem;
  border-radius: 100vmax;
  border: 2px solid #fff;
  background-color: #ff4c4c;
  color: #fff;
  transition: background-color 200ms ease-in;
}
.sign-up-btn:hover,
.sign-up-btn:focus {
  background-color: #fff;
  color: #ff4c4c;
}
.password-container {
  position: relative;
}
.password-icons {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}
.password-icons > * {
  font-size: 1.25rem;
  color: #c4c4c4;
}
@media screen and (min-width: 768px) {
  .login-container {
    grid-template-columns: 1.1fr 0.9fr;
  }
  .left-login,
  .right-login {
    padding: 7rem 0;
  }
}
.sign-up-wrapper {
  padding: 5rem 0 1.5rem;
}
.sign-up-container {
  width: 30rem;
  padding: 2rem;
}
.register-btn {
  margin: 1rem 0 0.5rem;
}
.already {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
span {
  display: flex;
  justify-content: end;
  font-size: 0.875rem;
  color: #ff4c4c;
  cursor: pointer;
  margin-bottom: 1rem;
}
span:hover {
  text-decoration: underline;
}
